/.vs
/SorteoEstacionamiento/Client/bin
/SorteoEstacionamiento/Client/obj
/SorteoEstacionamiento/Server/bin
/SorteoEstacionamiento/Server/obj
/SorteoEstacionamiento/Shared/bin
/SorteoEstacionamiento/Shared/obj
