/.vs
/SorteoEstacionamientos/Client/bin
/SorteoEstacionamientos/Client/obj
/SorteoEstacionamientos/Server/bin
/SorteoEstacionamientos/Server/obj
/SorteoEstacionamientos/Shared/bin
/SorteoEstacionamientos/Shared/obj
/SorteoEstacionamientos/Server/wwwroot/Logs
