/SorteoEstacionamiento/SorteoEstacionamiento/.vs
/SorteoEstacionamiento/Client/bin/
/SorteoEstacionamiento/SorteoEstacionamiento/Client/obj/
/SorteoEstacionamiento/SorteoEstacionamiento/Server/bin/
/SorteoEstacionamiento/SorteoEstacionamiento/Server/obj/
/SorteoEstacionamiento/SorteoEstacionamiento/Shared/bin/
/SorteoEstacionamiento/SorteoEstacionamiento/Shared/obj/
