@page "/escuelas"
<PageTitle>Catálogo Escuelas</PageTitle>


<RadzenCard Variant="Variant.Filled" class="rz-background-color-white rz-shadow-5 rz-border-radius-1 rz-py-2 rz-mb-3">
	<RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Normal" JustifyContent="JustifyContent.SpaceBetween" Wrap="FlexWrap.NoWrap" Gap="10px" Class="w-100">
		<RadzenText TextStyle="TextStyle.Body1">
			<h5 style="font-variant: small-caps;">
				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-building" viewBox="0 0 16 16">
					<path d="M4 2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM4 5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zM7.5 5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zM4.5 8a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z" />
					<path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1zm11 0H3v14h3v-2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5V15h3z" />
				</svg> Escuelas
			</h5>
		</RadzenText>
	</RadzenStack>
</RadzenCard>



<div class="p-4 rounded-1 bg-white shadow">
	<RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="5" AllowPaging="true"
					Data="@oResponse.Data"
					PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
					TItem="RequestViewModel_Escuela" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or"
					SelectionMode="DataGridSelectionMode.Single">
		<Columns>
			<RadzenDataGridColumn TItem="RequestViewModel_Escuela" Property="IdEscuela" Filterable="false" Title="ID" Frozen="true" Width="80px" TextAlign="TextAlign.Center" />

			<RadzenDataGridColumn TItem="RequestViewModel_Escuela" Property="EscLogo" Filterable="false" Title="LOGO" Frozen="true" Width="80px" TextAlign="TextAlign.Center" />

		</Columns>
	</RadzenDataGrid>
</div>

<!--CODIGO C#-->
@code {
	Response<List<RequestViewModel_Escuela>> oResponse = new();
	protected override async Task OnInitializedAsync()
	{
		oResponse = await servicioEscuela.GetAllDataByStatusAsync(0);

	}

}
